@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Inter", serif;
    background-color: black;
}
.container{
   margin: 0 auto;
   padding: 0 100px; 
}
.header{
    width: 1440px;
}
.nav{
    width: 100% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav ul{
    display: flex;
    gap: 41px;
}
nav ul li{
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;   
    text-shadow: 0px 4px 7.4px #FFFFFF;
    color: white;
}
.content{
    width: 100%;
    height: 594px;
    background-image: url(img/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.content h1{
    width: 602px;
    height: 75px;
    border-radius: 30px;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    background-color: antiquewhite;
    color: black;
    font-size: 64px;
    box-shadow: 16px 18px 28px 0px #FFFFFF40;
    font-weight: 700;
    line-height: 77.45px;
}
.content-elements{
    margin-top: 185px;
    display: flex;
    justify-content: space-between;
    background-color: none;
}
.element{
    position: relative;
}
.red{
    width: 237px;
    height: 209px;
    background-color: red;
    color: azure;
    text-align: center;
    align-content: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    position: absolute;
    left: 119px;
    bottom: 104px;
    box-shadow: 0px 18px 26.5px 0px #FB000040;
    text-shadow: 0px 4px 7.4px  #FFFFFF; 
}
.green{
    width: 237px;
    height: 209px;
    color: red;
    background-color: #32FB00;
    box-shadow: 0px 22px 27.8px 0px #FFF9F940;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-shadow: 0px 4px 7.4px  #FFFFFF;
    align-content: end;
}
.red2{
    width: 411px;
    height: 209px;
    border-radius: 100px;
    left: -91px;
}
.red3{
    left: -119px;
}
.ded{
    width: 602px;
    height: 75px;
    border-radius: 30px;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    background-color: antiquewhite;
    color: black;
    font-size: 64px;
    box-shadow: 16px 18px 28px 0px #FFFFFF40;
    font-weight: 700;
    line-height: 77.45px;
}
.stat{
    padding-top: 50px;
    width: 368px;
    height: 332px;
    background-color: #7B2525;
    font-size: 32px;
    font-weight: 700;
    padding-left: 120px;
    color: white;
    text-shadow: 0px 4px 7.4px #FFFFFF;
    margin-left: 50px;
    margin-top: 100px;
}
.br{
    padding-top: 100px;
    color: white;
}
.mda{
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-top: -130px;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 110px;
}
.yu{
    width: 368px;
    height: 332px;
    background-color: #7B2525;
    color: white;
    text-shadow: 0px 4px 7.4px #FFFFFF;
    padding-left: 120px;
    padding-top: 50px;
    margin-left: 500px;
    margin-top: -300px;
}
.imgg{
    margin-left: 510px;
    margin-top: -450px;
}
.ther{
    width: 368px;
    height: 332px;
    background-color: #7B2525;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.73px;
    color: white;
    text-shadow: 0px 4px 7.4px #FFFFFF;
    padding-left: 120px;
    padding-top: 50px;
    margin-left: 950px;
    margin-top: -350px;
}
.ggi{
    margin-left: 980px;
    margin-top: -450px;
}
.fotik ul {
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    color: white;
    text-shadow: 0px 4px 7.4px #FFFFFF;
    display: flex;
    gap: 100px;
    margin-left: 686px;
    margin-right: 101px;
    margin-top: -140px;
}
.roo{
    margin-top: 100px;
    margin-left: 80px;
    margin-bottom: 90px;
}